*{
    margin:0%;
    padding:0%;
}
#footer{
    background-color:rgb(39, 38, 38);
}

.col-lg-3{
    margin-top:4%;
}
.list{
    text-decoration:none;
    color:rgb(179, 174, 174);
}
.list:hover{
    text-decoration:none;
    color:rgb(59, 160, 243);
}
#email_btn{
    background-color:rgb(59, 160, 243);
    color:white;
}
#email_btn:hover{
    background-color:white;
    color:rgb(59, 160, 243);
}